<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 Niestety nie znaleziono tego, czego szukasz. Możesz teraz samodzielnie dodać nowe propozycje - dzięki Tobie powiększymy naszą bazę zapachów : )

<form action="/createnewfragrance">
    <input name="getName" />Podaj nazwę perfum<br />
    <input name="getIngredients" />Podaj ich skład
    <input type="submit" value="add"/>

</form>

</body>
</html>