<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            background: #6B949F;
            font: 12px Lucida sans, Arial, Helvetica, sans-serif;
            color: #333;
            text-align: center;
        }

        a {
            color: #2A679F;
        }


    </style>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="/worldoffragrance">
    <input name="search"/>
    <input type="submit" value="search"/>

</form>
<div>
    Jaki jest Twój ulubiony zapach?
</div>


</body>
</html>